.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.bookImage {
  float: left;
  max-width: 200px;
  padding: 15px;
}

.bookDiv {
  width: 800px;
  /* border-style: solid;
  border-width: medium;
  border-color: red; */
  overflow: auto;
  padding: 5px;
  padding: 0px;
  margin: auto;
}

.textDiv {
  text-align: left;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: cornsilk
}

.title {
  font-size: 20pt;
  font-weight: bold;
  margin-bottom: 1px;

}

/* .author, .summary, .review, .rating {
  margin: 5px;
} */

.author {
  margin-top: 0px;
  padding-top: 0px;
}

.rating {
  padding-top: 10px;
}

.form {
  border-style: solid;
  border-width: medium;
  border-color: black;
  width: 1000px;
  height: 300px;
  margin: 20px;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  background-color: #fffae6;
}

.textarea {
  width: 300px;
  height: 75px;
}

.comments {
  border-style: solid;
  border-width: medium;
  border-color: black;
  width: 700px;
  height: 500px;
  margin: 20px;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  background-color: #fffae6;
}
