<!DOCTYPE html>
<html>
  <head>
    <title>AGoodRead</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>

    <%= yield %>
  </body>
</html>
